.fast{
  -webkit-animation-duration:0.4s;
  animation-duration:0.4s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}
.logoDashboard img{
  width: 160px;
}
.cursor{
  cursor: pointer;
}
.cursorSidebar{
  cursor: pointer;
}
.cursorSidebar:hover{
  color: white !important;
}